APP_STATUS = localAPP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME=114.115.143.159[LANG]default_lang = zh-cn[REDIS]host=127.0.0.1port=6379password=[DOMAIN]root=.jp.comapi=jpschema=http://[upload]path=D:\work\git\wlsh\miles\public\